# Example of a local database setup.
login: &login
  host: <%= ENV['PGHOST'] || 'localhost' %>
  username: <%= ENV['PGUSER'] || 'postgres' %>
  password: <%= ENV['PGPASSWORD'] || 'postgres' %>
  encoding: utf8
  adapter: postgis
  template: template_postgis

development:
  <<: *login
  database: <%= ENV['PGDB'] || 'inaturalist_development' %>

test:
  <<: *login
  database: inaturalist_test

production:
  <<: *login
  database: inaturalist_production
